<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Credits</key>
	<string>Created with Champlist</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>IM112.88Z.007A.B03.0803051705</string>
	<key>SMboardproduct</key>
	<string>Mac-F2238AC8</string>
	<key>SMfamily</key>
	<string>iMac</string>
	<key>SMproductname</key>
	<string>iMac11,2</string>
	<key>SMserial</key>
	<string>G8045451DNN</string>
</dict>
</plist>
